body{
    font-family: serif;
    background-image: url(fond.gif);
    background-repeat: repeat;
}

h1, h2 {
    font-family: "Comic sans MS", serif;
}

h2 {
    color: burlywood;
}

button {
    background-color: blue;
    border-style:outset;
    cursor: url(cursor.png), pointer;
}

header{
    background-color: aqua;
    padding: 10px 0 10px 0;
    background-color: #0582B3;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#003E60),to(#0582B3));
    background-image: -webkit-linear-gradient(top,#003E60 0,#0582B3 100%);
    background-image: -o-linear-gradient(top,#003E60 0,#0582B3 100%);
    background-image: linear-gradient(to bottom,#003E60 0,#0582B3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003E60', endColorstr='#0582B3', GradientType=0);
    background-repeat: repeat-x;
    color: white;
    border: ridge;
}
header h1 {
    padding-left: 300px;
}

main {
    width: 700px;
    background-color: beige;
}

#description{
    background-color: chartreuse;
    text-shadow: 3px 2px darkgoldenrod;
}

table {
    width: 800px;
}
table td {
    border: 1px dashed black;
}

footer{
    background-color: chocolate;
    color: darkturquoise;
    border: double;
}

blink {
  -webkit-animation: 1s linear infinite condemed_blink_effect; // pour Safari 4.0-8.0
  animation: 1s linear infinite condemed_blink_effect;
}
@-webkit-keyframes condemed_blink_effect { // pour Safari 4.0-8.0
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes condemed_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}