body {
    font-family: sans-serif;
    margin: 0;
    background-color: #3c3c3c;
}

#toast{
    position: fixed;
    bottom: -200px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}
#toast>span{
    background-color: #3c3c3c;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

header,
footer {
    position: fixed;
    right: 0;
    left: 0;
    background-color: #3c3c3c;
    color: white;
    text-align: center;
    z-index: 9;
}
header{
    top: 0;
    font-size: 0.8em;
}
footer{
    bottom: 0;
    padding: 20px;
    margin-top: -50px;
}

header > *,
footer > * {
    margin: 0 auto !important;
}

section h1, section h2, section h3, p, main>section>ul, #tabs, .content {
    margin: 20px auto;
    width: 80%;
}
@media screen and (max-width: 700px) {
    section h1, section h2, section h3, p, main>section>ul, #tabs, .content {
        margin: 20px 10px!important;
        width: auto!important;
    }
    .mobileHide{
        display: none;
    }
}

#tabs{
    margin-bottom: 50px;
}
#tabs h3 {
    width: 100%;
}

main h1 {
    font-size: 5em;
    margin: 0 auto;
    width: max-content;
}
main h1>span{
    display: inline-block;
    text-align: right;
}

h2>img, h3>img{
    height: 30px;
    margin: -3px 0;
}

header h2{
    font-size: 2.1em;
    margin: 13px 0 !important;
}
header h2 a:hover{
    text-decoration: none;
    opacity: 0.8;
}
header h2 img{
    height: 25px;
    margin: -4px 0;
}
#description {
    background-color: #353535;
    color: white;
    padding: 5px;
}
#description h1 {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 0.9em;
    padding: 2px;
    margin: 0 auto;
}
@media screen and (max-width: 700px) {
    #description {
        padding-bottom: 45px;
    }
}

header>.btn, nav>.btn{
    position: absolute;
    top: 3px;
    font-size: 16px;
    line-height: 22px;
    background: none;
    border-color: #3c3c3c;
    color: white;
}
header>.btn:hover, nav>.btn:hover, header>.btn:focus, nav>.btn:focus{
    border-color: #f0f0f0;
}
nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -350px;
    padding-top: 40px;
    background-color: #3c3c3c;
    color: white;
    overflow-y: auto;
    z-index: 99;
}
nav ul {
    list-style: none;
    padding: 0;
    min-width: max-content;
}
nav li a {
    display: block;
    padding: 20px 25px;
}
nav li a:hover{
    text-decoration: none;
    background-color: #353535;
}
nav .emoji {
    height: 20px;
    margin-right: 10px;
}
nav li.nav-categorie{
    padding: 10px;
    padding-left: 20px;
    font-size: 0.9em;
    background-color: #353535;
    color: #f0f0f0;
}

#closeMenu{
    right: 10px;
}
#openMenu{
    left: 10px;
}
#openNotifications{
    right: 10px;
}
@media screen and (max-width: 380px) {
    header>.btn{
        position: relative!important;
        top: 0!important;
        left: 0!important;
    }
    header h2{
        display: inline-block;
        width: auto!important;
    }
}

#note_estimation>button{
    display: none;
    margin-left: 2px;
}
#note_estimation>span{
    font-style: italic;
}
@media screen and (max-width: 700px) {
    #note_estimation>button{
        display: inline-block;
    }
    #note_estimation>span{
        display: none;
    }
}

main {
    margin: 55px 0;
}

section {
    padding: 20px;
}

section:nth-of-type(odd), .white {
    background-color: #fdfdfd;
}

section:nth-of-type(even):not(.white) {
    background-color: #f0f0f0;
}

.centered {
    text-align: center;
}

.rounded {
    padding: 35px 50px;
    background-color: rgba(78,110,186,1)!important;
}
.rounded>div{
    position: relative;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 50px;
    background-color: #fdfdfd;
    -webkit-box-shadow: 0 10px 40px -20px rgba(0,0,0,0.6);
    box-shadow: 0 10px 40px -20px rgba(0,0,0,0.6);
}
@media screen and (max-width: 700px) {
    .rounded {
        padding: 0;
        padding-bottom: 40px;
        padding-top: 20px;
    }
    .rounded>div {
        margin-top: -60px;
    }
}

#sources{
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
@media screen and (max-width: 700px) {
    #sources{
        padding: 20px 10px;
        width: calc(100% - 20px);
    }
}
/*#sources::before,#sources::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 9;
    pointer-events: none;
}
#sources::before{
    left: 0;
    background: -moz-linear-gradient(left,  rgba(78,110,186,1) 0%, rgba(78,110,186,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(78,110,186,1) 0%,rgba(78,110,186,0) 100%);
    background: linear-gradient(to right,  rgba(78,110,186,1) 0%,rgba(78,110,186,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e6eba', endColorstr='#004e6eba',GradientType=1 );
}
#sources::after{
    right: 0;
    background: -moz-linear-gradient(left,  rgba(78,110,186,0) 0%, rgba(78,110,186,1) 99%, rgba(78,110,186,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(78,110,186,0) 0%,rgba(78,110,186,1) 99%,rgba(78,110,186,1) 100%);
    background: linear-gradient(to right,  rgba(78,110,186,0) 0%,rgba(78,110,186,1) 99%,rgba(78,110,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004e6eba', endColorstr='#4e6eba',GradientType=1 );
}*/

#sources li{
    display: inline-block;
    position: relative;
    padding: 20px;
    padding-bottom: 70px;
    margin-right: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 230px;
    text-align: left;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 20px -20px rgba(0,0,0,0.6);
    box-shadow: 0 5px 20px -20px rgba(0,0,0,0.6);
}
#sources li h3, #sources li p{
    margin: 5px 0;
    width: 100%;
}
#sources li .banner {
    display: block;
    width: calc(100% + 40px);
    height: 135px;
    line-height: 135px;
    margin: 10px -20px;
    text-align: center;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
}
#sources li>a.btn {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.demi{
    display: inline-block;
    width: calc(50% - 3px);
    vertical-align: top;
}
@media screen and (max-width: 920px) {
    .demi{
        display: block;
        width: 100%;
    }
}

p {
    line-height: 22px;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.emoji{
    height: 20px;
    margin-bottom: -3px;
}

.btn, .alert {
    text-align: left;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #f0f0f0;
}
.btn{
    display: inline-block;
    cursor: pointer;
}
.btn.petit{
    padding: 5px;
}
.btn.blanc{
    background-color: white;
}

.btn:hover {
    text-decoration: none;
    border-color: #3c3c3c;
}
.btn:active {
    opacity: 0.5;
}
.btn:focus {
    outline: none;
    border-color: #3c3c3c;
}
button {
    cursor: pointer;
    font-size: 15px;
}

.badge{
    background-color: #3c3c3c;
    color: white;
    border-radius: 3px;
    padding: 2px 4px;
    font-size: 15px;
    font-style: normal;
}
.badge.warning {
    color: #3c3c3c;
    background-color: #ffdc5d;
}
.badge.success {
    color: white;
    background-color: #13bc3a;
}
.badge.danger,.badge.error {
    background-color: #dd3724;
}

.ui-tooltip {
    background-color: #f0f0f0;
    box-shadow: 0 0 0 black!important;
}

.ui-tabs-panel p {
    width: 100%;
}

.ui-tab{
    border: 1px solid #f0f0f0!important;
    background: #f0f0f0!important;
}
.ui-tab:hover{
    border-top: 1px solid #3c3c3c!important;
    border-left: 1px solid #3c3c3c!important;
    border-right: 1px solid #3c3c3c!important;
}
.ui-tabs-active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #3c3c3c!important;
    background-color: #3c3c3c!important;
}
.ui-widget-header{
    border: 0!important;
    background: none!important;
}
.ui-tabs-nav{
    border-radius: 0!important;
    padding: 0!important;
}
.ui-tabs{
    border: 0!important;
    padding: 0!important;
}
.ui-tabs-panel {
    border: 1px solid #3c3c3c!important;
}

.stats {
    display: block;
    margin: auto;
    overflow: auto;
}

.stats thead, .stats thead tr {
    height: 150px;
}
.stats thead th {
    position: relative;
    font-weight: bold;
}
.stats thead th>span {
    position: absolute;
    transform: rotate(-45deg);
    width: 150px;
    left: -10px;
    text-align: left;
}

.stats tr{
    height: 22px;
}
.stats td {
    text-align: left;
    padding: 5px;
}

.stats .bar {
    display: inline-block;
    background-color: #9d9d9d;
}


td.diff.sup {
    background-color: #dd3724;
    color: white;
}
td.diff.inf {
    background-color: #ffdc5d;
}
td.main{
    background-color: #f0f0f0;
}


#progressbar {
    background-color: #f0f0f0;
    margin: auto;
    margin-top: 35px;
}

#progressbar > span {
    display: block;
    position: relative;
    height: 10px;
    background-color: #13bc3a;
}

#progressbar > span > span {
    position: relative;
    top: -28px;
    right: -50%;
    margin: 0 calc(-50% + 10px);
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#progressbar > span > span::before {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 6px);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-top: 6px solid #f0f0f0;
    border-right: 6px solid transparent;
}

#contrib{
    position: relative;
    height: 40px;
    border: 1px solid #3c3c3c;
    margin-bottom: 40px;
}
#contrib tr:first-child td:nth-child(even){
    background-color: #f0f0f0;
}
#contrib .true{
    background-color: #3c3c3c!important;
}
#contrib tr:last-child{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -2px;
}
#contrib tr:last-child td{
    position: absolute;
}
#contrib tr:last-child td:last-child{
    right: 0;
}

table {
    border-collapse: collapse;
}
table thead{
    font-weight: bold;
    background: #f0f0f0;
    border-bottom: 3px solid black;
}
table td, table th{
    padding: 5px;
    border: 1px solid #3c3c3c;
}

#avionGraph{
    position: relative;
    text-align: center;
    background: rgb(78,110,186);
    background: -moz-linear-gradient(top,  rgba(78,110,186,1) 0%, rgba(125,185,232,1) 54%, rgba(252,249,255,1) 99%);
    background: -webkit-linear-gradient(top,  rgba(78,110,186,1) 0%,rgba(125,185,232,1) 54%,rgba(252,249,255,1) 99%);
    background: linear-gradient(to bottom,  rgba(78,110,186,1) 0%,rgba(125,185,232,1) 54%,rgba(252,249,255,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e6eba', endColorstr='#fcf9ff',GradientType=0 );
}
#courbe circle{
    cursor:pointer;
}
#clouds{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#stars{
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    opacity: 0.2;
}
#avionGraph>div{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
}
#avionGraph>div>p{
    text-align: right;
}

.linkList{
    max-width: 90%;
    overflow: hidden;
}
.linkList a:after{
    content: attr(href);
    padding-left: 5px;
    font-size: 12px;
    opacity: 0.5;
}

#majencours {
}
#majencours h3 {
    margin: 0;
    margin-bottom: 10px;
}
#majencours a {
    display: inline-block;
}

#tweetButton{
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    width: min-content;
    max-width: 100%;
    border: 1px solid #1DA1F2;
    border-radius: 10px;
    background-color: #fdfdfd;
}
#tweetButton>span{
    display: block;
    padding: 15px;
    padding-bottom: 10px;
}
#tweetButton em{
    font-style: normal;
    color: #1DA1F2;
}
#tweetButton>button{
    display: block;
    width: max-content;
    max-width: 100%;
    padding: 15px;
    padding-top: 10px;
    background: none;
    border: 0;
    border-top: 1px solid #1DA1F2;
    color: #1DA1F2;
}
#tweetButton:hover>button{
    text-decoration: underline;
}
#tweetButton img {
    height: 15px;
    margin-right: 2px;
}



textarea{
    max-width: 200px;
    min-height: 5500px;
}

p.petit {
    font-size: 0.9em;
}


.chip{
    display: inline-block;
    border: 2px solid #f0f0f0;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}
.chip>span, .chip>strong{
    display: inline-block;
    padding: 5px 10px;
}
.chip>span{
    background-color: #f0f0f0;
}


.smartphone{
    display: inline-block;
    max-width: 80%;
    background-color: #353535;
    border-radius: 3vh;
    padding: 5vh 2vh;
    -webkit-box-shadow: 0 10px 40px -20px rgba(0,0,0,0.6);
    box-shadow: 0 10px 40px -20px rgba(0,0,0,0.6);
}
.smartphone>img{
    margin: auto;
    max-width: 100%;
    max-height: 50vh;
}

#signer{
    position: fixed;
    bottom: 100px;
    right: -50px;
    z-index: 99;
    -webkit-transition: right 0.3s ease;
    -moz-transition: right 0.3s ease;
    -ms-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    transition: right 0.3s ease;
}
#signer>span:first-child{
    display: none;
    padding: 10px;
    padding-right: 15px;
    margin-right: -10px;
    background-color: #353535;
    color: white;
    font-weight: normal;
    border-radius: 5px;
}
#signer:hover>span:first-child{
    display: inline-block;
}
#signer>span:last-child{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #3c3c3c;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
}
#signer img {
    height: 25px;
    margin-bottom: -5px;

}
#signer:hover>span:last-child{
    -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8));
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.8);
}

#minitel {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.01;
    padding: 5px;
    border-style: outset;
    cursor: help;
}